/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.container {
    width: 900px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Use for reference date drop down - START */
	    .dropdown-menu {
	    	min-width: 115px;
	    	text-align: center;	
	    }
         
    	.dropdown-menu>li
		{	position:relative;
			-webkit-user-select: none; /* Chrome/Safari */        
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+ */
			/* Rules below not implemented in browsers yet */
			-o-user-select: none;
			user-select: none;
			cursor:pointer;
			min-width: 115px !important;
		}
		.dropdown-menu > li > a {
		    padding: 3px 10px;
		}
		.dropdown-menu .sub-menu {
		    left: 100%;
		    position: absolute;
		    top: 0;
		    display:none;
		    margin-top: -1px;
			border-top-left-radius:0;
			border-bottom-left-radius:0;
			border-left-color:#fff;
			box-shadow:none;
			text-align: center;			
		}
		.right-caret:after,.left-caret:after
		 {	content:"";
		    border-bottom: 5px solid transparent;
		    border-top: 5px solid transparent;
		    display: inline-block;
		    height: 0;
		    vertical-align: middle;
		    width: 0;
			margin-left:5px;
		}
		.right-caret:after
		{	border-left: 5px solid #ffaf46;
		}
		.left-caret:after
		{	border-right: 5px solid #ffaf46;
		}
		#dayslist {
			max-width: 100px;
			max-height: 350px;
			overflow-y: auto;
			overflow-x: hidden;
		}
/* Use for reference date drop down - END */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}